<a href="https://colab.research.google.com/github/g9772690/KTL_python_basic/blob/main/KTL_Pandas_%EC%9B%90%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

*  pandas 라이브러리는 데이타 분석을 위해 널리 사용되는 파이썬 라이브러리 패키지로써 사용하기 쉬운 고성능 데이터 구조와 데이터 분석 도구를 제공한다.
*  주 데이터 구조는 `DataFrame`으로 2D 테이블로 생각할 수 있다(열 이름과 행 레이블이 있는 스프레드시트와 비슷하다).
*  엑셀에 있는 많은 기능을 프로그램에서 사용할 수 있다. 여기에는 피봇 테이블이나 다른 열을 기반으로 열을 계산하고 그래프 출력하는 기능 등이 포함된다.
*  열 값으로 행을 그룹핑할 수도 있다. 또한 SQL과 비슷하게 테이블을 조인할 수 있다. 판다스는 시계열 데이터를 다루는데도 뛰어나다.*
*  pandas를 사용하기 위해서는 먼저 pandas를 import 한다. pandas는 크게 세 가지의 자료구조를 지원하고 있는데, 1차원 자료구조인 Series, 2차원 자료구조인 DataFrame, 그리고 3차원 자료구조인 Panel을 지원한다.
*  numpy에 비해 pandas는 다른 데이터타입을 담을 수 있는 특징을 가지고 있다.
- Series 자료형 : 가장 간단한 1차원 자료구조인 Series는 배열/리스트와 같은 일련의 시퀀스 데이터를 받아들이는데, 별도의 인덱스 레이블을 지정하지 않으면 자동적으로 0부터 시작되는 디폴트 정수 인덱스를 사용한다.
- DataFrame : 복수의 열을 가진 2차원 데이터
    - 판다스가 잘 하는 일
      1. 결측 데이터 처리
      2. 데이터 추가 삭제(새로운 열의 추가, 특정 열의 삭제등)
      3. 데이터 정렬과 다양한 데이터 조작
    - 데이터 불러오기 및 저장하기
      - 파이썬 리스트, 딕셔너리, 넘파이 배열을 데이터 프레임으로 변환할 수 있다.
      - 판다스로 CSV 파일이나 TSV 파일, 엑셀 파일등을 열 수 있다.
      - URL을 통해 웹 사이트의 CSV 또는 JSON 과 같은 원격 파일 또는 데이터베이스를 열 수 있다.

*  https://pandas.pydata.org/

  - 데이터 보기 및 검사
    - mean()로 모든 열의 평균을 계산할 수 있다.
    - corr()로 데이터 프레임의 열 사이의 상관 관계를 계산할 수 있다.
    - count()로 각 데이터 프레임 열에서 null이 아닌 값의 개수를 계산할 수 있다.
  - 필터, 정렬 및 그룹화
    - sort_values()로 데이터를 정렬할 수 있다.
    - 조건을 사용하여 열을 필터링할 수 있다.
    - groupby()를 이용하여 기준에 따라 몇 개의 그룹으로 데이터를 분할할 수 있다.
  - 데이터 정제
    - 데이터의 누락 값을 확인할 수 있다.
    - 특정한 값을 다른 값으로 대체할 수 있다.

**CSV**
  - CSV는 테이블 형식의 데이터를 저장하고 이동하는 데 사용되는 구조화된 텍스트 파일 형식이다.
  - CSV는 쉼표로 구분한 변수comma separated variables의 약자이다.
  - CSV의 역사는 1972년으로 거슬러 올라가며 Microsoft Excel와 같은 스프레드 시트spread sheet 소프트웨어에 적합한 형식이다.
  - 데이터 과학에서 사용되는 데이터 가운데 상당한 비율의 데이터들이 CSV 형식으로 공유되는 경우가 많다.
  - CSV 파일은 필드를 나타내는 열과 레코드를 나타내는 행으로 구성
  - 만약 데이터의 중간에 구분자가 포함되어야 한다면 따옴표를 사용하여 필드를 묶어야 함
    - 예를 들어서 'Gildong, Hong'이라는 데이터가 있다고 하자. 데이터의 중간에 쉼표(,)가 포함되어 있다. 이러한 경우에는 구분자로 사용되는 쉼표와 구분하기 위하여 반드시 데이터를 따옴표로 감싸야 한다.
  - CSV 파일의 첫 번째 레코드에는 열 제목이 포함되어 있을 수 있다.
    - CSV 형식 자체의 요구사항이 아니라 단순히 일반적인 관행
  - CSV 파일의 크기를 알 수 없고 잠재적으로 크기가 큰 경우 한 번에 모든 레코드를 읽지 않는 것이 좋다.
    - 이때는 현재 행을 읽고, 현재 행을 처리한 후에 삭제하고 다음 행을 가져오는 방식이 필요할 수도 있다. 아니면 특정한 크기만큼의 데이터를 읽어서 처리한 뒤에, 다음으로 또 그만큼의 크기를 가져오는 방식을 사용할 수도 있을 것이다.

### pandas 라이브러리 사용

### **데이터 구조**
pandas 라이브러리는 다음과 같은 유용한 데이터 구조를 포함하고 있다.

* Series 객체는 1D 배열입니다. (열 이름과 행 레이블을 가진) 스프레드시트의 열과 비슷하다.
* DataFrame 객체는 2D 테이블입니다. (열 이름과 행 레이블을 가진) 스프레드시트와 비슷하다.

### **Series 객체 생성**

Series 객체는 넘파이 ndarray와 비슷하며, 종종 넘파이 함수에 매개변수로 사용된다.

Series 객체에 대한 산술 연산 가능하며, ndarray와 비슷하게 연산된다.

넘파이와 비슷하게 Series 에 하나의 숫자를 더하면 Series에 있는 모든 원소에 더해진다. -> 브로드캐스팅(broadcasting)

### **INDEX LABEL**

Series 객체에 있는 각 원소는 인덱스 레이블(index label)이라 불리는 고유한 식별자를 가지고 있다. 기본적으로 Series에 있는 원소의 순서이다(`0`에서 시작). 하지만 수동으로 인덱스 레이블을 지정할 수도 있다.

그다음 딕셔너리와 유사하게 인덱스명으로 인덱싱할 수 있고 일반 배열처럼 정수 인덱스를 사용하여 원소에 접근할 수도 있다

레이블이나 정수를 사용해 접근할 때 명확하게 하기 위해 레이블은 **loc** 속성을 사용하고 정수는 **iloc** 속성을 사용하는 것이 좋다

Series는 인덱스 레이블을 슬라이싱할 수도 있다

기본 정수 레이블을 사용한 슬라이싱의 경우, 결과에 대한 인덱스값에 유의해야 한다.

아래 슬라이싱 결과에서 인덱스 레이블은 0으로 시작되지 않는다.

하지만 iloc 속성을 사용해 정수 인덱스로 원소에 접근할 수 있다. Series 객체를 사용할 때 loc와 iloc를 사용하는 것이 좋은 이유이다

### **dictionary 를 통한 Series 객체 생성**
dict에서 Series 객체를 만들 수 있다. 이때 키는 인덱스 레이블로 사용된다.

Series에 포함할 원소를 제어하고 index를 지정하여 명시적으로 순서를 결정할 수 있다.

### **자동 정렬**

여러 개의 Series 객체를 다룰 때 pandas는 자동으로 인덱스 레이블에 따라 원소를 정렬합니다.

만들어진 Series는 s2와 s3의 인덱스 레이블의 합집합을 담고 있습니다. s2에 "colin"이 없고 s3에 "charles"가 없기 때문에 이 원소는 NaN 값을 가진다.(Not-a-Number는 누락).

자동 정렬은 구조가 다르고 누락된 값이 있는 여러 데이터를 다룰 때 매우 편리하지만 올바른 인덱스 레이블을 지정하는 것을 잊는다면 원치않는 결과가 나올수도 있다.

레이블이 하나도 맞지 않기 때문에 판다스가 이 Series를 정렬할 수 없다. 따라서 모두 NaN이 되었다.

### **스칼라로 초기화**

스칼라와 인덱스 레이블의 리스트로 Series 객체를 초기화할 수도 있다. 모든 원소가 이 스칼라 값으로 설정된다.

### **Series 객체 이름정의**

`Series`는 `name`을 가질 수 있습니다:

### **Series 그래프 출력**

맷플롯립을 사용해 Series 데이터를 쉽게 그래프로 출력할 수 있다. 맷플롯립을 임포트하고 plot() 메서드를 호출하면 끝

### **date_range() 와 period_range()**

많은 데이터셋에 타임스탬프가 포함되어 있다. 판다스는 이런 데이터를 다루는데 장점이 있다:
* (2023 03 같은) 기간과 ("monthly" 같은) 빈도를 표현할 수 있다.
* 기간을 실제 타임스탬프로 변환하거나 그 반대로 변환할 수 있다.
* 데이터를 리샘플링하고 원하는 방식으로 값을 모을 수 있다.
* 시간대를 다룰 수 있다.
* 먼저 pd.date_range()를 사용해 시계열을 만들어 보자. 다음은 2023년 07월 01일 5:30pm에서 시작하여 1시간간격의 12개의 datetime을 가지는 DatetimeIndex를 반환한다.

이 DatetimeIndex를 Series의 인덱스로 사용할수 있습니다:

이 시리즈를 그래프로 출력해 보자.

### **리샘플링**

판다스는 매우 간단하게 시계열을 리샘플링할 수 있다. resample() 메서드를 호출하고 새로운 주기를 지정하면 된다.

리샘플링 연산은 사실 지연된 연산이다. 그래서 Series 객체 대신 DatetimeIndexResampler 객체가 반환된다. 실제 리샘플링 연산을 수행하려면 mean() 같은 메서드를 호출할 수 있다. 이 메서드는 연속적인 시간 쌍에 대해 평균을 계산한다.

결과를 그래프로 출력해 보죠:

2시간 간격으로 수집된 값을 확인하면, 예를 들어 18시의 데이터를 보면 6:30pm에서 5.1이고 7:30pm에서 6.1이다. 리샘플링 후에 5.1과 6.1의 평균인 5.6 하나를 얻었다. 평균말고 어떤 집계 함수(aggregation function)도 사용할 수 있다. 예를 들어 각 기간에서 최솟값을 찾을 수 있다.

또는 동일한 효과를 내는 `apply()` 메서드를 사용할 수 있다.

### **업샘플링과 보간**

업샘플링 : 샘플링의 빈도를 높인다.

NaN 값을 채우기 위한 한 방법은 보간법으로 값을 채우는 것이다. 이렇게 하려면 interpolate() 메서드를 호출한다. 기본값은 선형 보간이지만 3차 보간(cubic interpolation) 같은 다른 방법을 선택할 수 있다.

### **기간**

pd.period_range() 함수는 DatetimeIndex가 아니라 PeriodIndex를 반환한다. 예를 들어 2022년과 2023년의 전체 분기를 가져와 보자..

PeriodIndex에 숫자 N을 추가하면 PeriodIndex 빈도의 N 배만큼 이동시킨다.

asfreq() 메서드를 사용하면 PeriodIndex의 빈도를 바꿀 수 있다. 모든 기간이 늘어나거나 줄어든다. 예를 들어 분기 기간을 모두 월별 기간으로 바꾸어 보자.

기본적으로 asfreq는 각 기간의 끝에 맞춘다. 기간의 시작에 맞추도록 변경할 수 있다.

### **DataFrame 객체**

데이터프레임 객체는 스프레드시트를 표현한다. 셀 값, 열 이름, 행 인덱스 레이블을 가진다. 다른 열을 바탕으로 열을 계산하는 식을 쓸 수 있고 피봇 테이블을 만들고, 행을 그룹핑하고, 그래프를 그릴 수 있다. DataFrame을 Series의 딕셔너리로 볼 수 있다.

### **DataFrame 만들기**

Series 객체의 딕셔너리를 전달하여 데이터프레임을 만들 수 있다.

몇가지 알아 두어야 할 것은 다음과 같다.

* Series는 인덱스를 기반으로 자동으로 정렬된다.
* 누락된 값은 NaN으로 표현된다.
* Series 이름은 무시된다("year"란 이름은 삭제된다).

예상하는 방식으로 열을 참조할 수 있고 Serires 객체가 반환된다.

동시에 여러 개의 열을 선택할 수 있다.

열 리스트나 행 인덱스 레이블을 DataFrame 생성자에 전달하면 해당 열과 행으로 채워진 데이터프레임이 반환된다. 예를 들면:

DataFrame을 만드는 또 다른 편리한 방법은 ndarray나 리스트의 리스트로 모든 값을 생성자에게 전달하고 열 이름과 행 인덱스 레이블을 각기 지정하는 것이다.

ndarray 대신에 DataFrame 객체를 전달할 수도 있다.

딕셔너리의 딕셔너리(또는 리스트의 리스트)로 DataFrame을 만들 수 있다.

### **멀티 인덱싱**

모든 열이 같은 크기의 튜플이면 멀티 인덱스로 인식한다. 열 인덱스 레이블에도 같은 방식이 적용된다. 예를 들면,

이제 "public" 열을 모두 담은 DataFrame을 손쉽게 만들 수 있다.

### **레벨 낮추기**

d5를 다시 확인해 보자.

열의 레벨(level)이 2개이고 인덱스 레벨이 2개다. droplevel()을 사용해 열 레벨을 낮출 수 있다(인덱스도 마찬가지이다)

### **전치**

T 속성을 사용해 열과 인덱스를 바꿀 수 있다.

### **레벨 스택과 언스택**

stack() 메서드는 가장 낮은 열 레벨을 가장 낮은 인덱스 뒤에 추가하는 기능을 수행한다.

NaN 값이 생겼다. 이전에 없던 조합이 생겼기 때문이다(예를 들어 London에 bob이 없었다).

unstack()을 호출하면 반대가 된다. 여기에서도 많은 NaN 값이 생성된다.

대부분의 메서드는 수정된 복사본을 반환한다. stack()과 unstack() 메서드는 객체를 수정하지 않는다. 대신 복사본을 만들어 반환한다. 판다스에 있는 대부분의 메서드들이 이렇게 동작한다.

### **행 참조하기**

loc 속성으로 열 대신 행을 참조할 수 있다. DataFrame의 열 이름이 행 인덱스 레이블로 매핑된 Series 객체가 반환된다.

`iloc` 속성을 사용해 정수 인덱스로 행을 참조할 수 있다.

행을 슬라이싱할 수 있으며 DataFrame 객체가 반환된다.

마자믹으로 불리언 배열을 전달하여 해당하는 행을 가져올 수 있다.

불리언 표현식을 사용할 때 아주 유용하다.

### **열 추가, 삭제**

DataFrame을 Series의 딕셔너리처럼 다룰 수 있다. 따라서 다음과 같이 쓸 수 있다.

새로운 열을 추가할 때 행의 개수는 같아야 한다. 누락된 행은 NaN으로 채워지고 추가적인 행은 무시된다.

새로운 열을 추가할 때 기본적으로 (오른쪽) 끝에 추가된다. insert() 메서드를 사용해 다른 곳에 열을 추가할 수 있다.

### **새로운 열 할당하기**

assign() 메서드를 호출하여 새로운 열을 만들 수도 있다. 이는 새로운 DataFrame 객체를 반환하며 원본 객체는 변경되지 않는다.

### **표현식 평가**

판다스가 제공하는 뛰어난 기능 하나는 표현식 평가이다. 이는 numexpr 라이브러리에 의존하기 때문에 설치가 되어 있어야 한다.

할당 표현식도 지원된다. inplace=True로 지정하면 수정된 복사본을 만들지 않고 바로 DataFrame을 변경한다.

@를 접두어로 사용하여 지역 변수나 전역 변수를 참조할 수 있다.

### **DataFrame 쿼리하기**

query() 메서드를 사용하면 쿼리 표현식에 기반하여 DataFrame을 필터링할 수 있다.

### **DataFrame 정렬**

sort_index 메서드를 호출하여 DataFrame을 정렬할 수 있다. 기본적으로 인덱스 레이블을 기준으로 오름차순으로 행을 정렬한다. 여기에서는 내림차순으로 정렬해 보자.

sort_index는 DataFrame의 정렬된 복사본을 반환한다. people을 직접 수정하려면 inplace 매개변수를 True로 지정한다. 또한 axis=1로 지정하여 열 대신 행을 정렬할 수 있다.

레이블이 아니라 값을 기준으로 DataFrame을 정렬하려면 sort_values에 정렬하려는 열을 지정한다.

### **DataFrame 그래프 그리기**

Series와 마찬가지로 판다스는 DataFrame 기반으로 멋진 그래프를 손쉽게 그릴 수 있다.
예를 들어 plot 메서드를 호출하여 DataFrame의 데이터에서 선 그래프를 쉽게 그릴 수 있다.

맷플롯립의 함수가 지원하는 다른 매개변수를 사용할 수 있다. 예를 들어, 산점도를 그릴 때 맷플롯립의 scatter() 함수의 s 매개변수를 사용해 크기를 지정할 수 있다.

### **DataFrame 연산**

DataFrame이 넘파이 배열을 흉내내려는 것은 아니지만 몇 가지 비슷한 점이 있다.

DataFrame에 넘파이 수학 함수를 적용하면 모든 값에 이 함수가 적용된다.

비슷하게 DataFrame에 하나의 값을 더하면 DataFrame의 모든 원소에 이 값이 더해진다.

물론 산술 연산(`*`,`/`,`**`...)과 조건 연산(`>`, `==`...)을 포함해 모든 이항 연산에도 마찬가지이다.

DataFrame의 max, sum, mean 같은 집계 연산은 각 열에 적용되어 Series 객체가 반환된다.

all 메서드도 집계 연산이다. 모든 값이 True인지 아닌지 확인한다. 모든 학생의 점수가 5 이상인 월을 찾아 보자.

any 메서드는 하나라도 참이면 True를 반환한다. 한 번이라도 10점을 받은 사람을 찾아 보자.

DataFrame에 Series 객체를 더하면 (또는 다른 이항 연산을 수행하면) 판다스는 DataFrame에 있는 모든 행에 이 연산을 브로드캐스팅한다. 이는 Series 객체가 DataFrame의 행의 개수와 크기가 같을 때만 동작한다. 예를 들어 DataFrame의 mean(Series 객체)을 빼보자.

모든 9월 성적에서 7.75를 빼고, 10월 성적에서 8.75를 빼고, 11월 성적에서 7.50을 뺀다.

모든 성적의 전체 평균을 빼고 싶다면 다음과 같은 방법을 사용한다.

### **자동 정렬**

Series와 비슷하게 여러 개의 DataFrame에 대한 연산을 수행하면 판다스는 자동으로 행 인덱스 레이블로 정렬하지만 열 이름으로도 정렬할 수 있다. 10월부터 12월까지 보너스 포인트를 담은 DataFrame을 만들어 보자.

덧셈 연산이 수행되었지만 너무 많은 원소가 NaN이 되었다. DataFrame을 정렬할 때 일부 열과 행이 한 쪽에만 있기 때문이다. 다른 쪽에는 누락되었다고 간주한다(NaN). NaN에 어떤 수를 더하면 NaN이 된다.

### **누락된 데이터 다루기**

실제 데이터에서 누락된 데이터를 다루는 경우는 자주 발생한다. 판다스는 누락된 데이터를 다룰 수 있는 몇 가지 방법을 제공한다.

위 데이터에 있는 문제를 해결해 보자. 예를 들어, 누락된 데이터는 NaN이 아니라 0이 되어야 한다고 결정할 수 있다. fillna() 메서드를 사용해 모든 NaN 값을 어떤 값으로 바꿀 수 있다.

9월 점수를 0으로 만드는 것은 맞지 않다. 누락된 점수는 그대로 두고, 누락된 보너스 포인트는 0으로 바꿀 수 있다.

누락된 값을 다루는 또 다른 방법은 보간법이다. bonus_points DataFrame을 다시 보자.

interpolate 메서드를 사용해 보자. 기본적으로 수직 방향(axis=0)으로 보간한다. 따라서 수평으로(axis=1)으로 보간하도록 지정한다.

bob의 보너스 포인트는 10월에 0이고 12월에 2이다. 11월을 보간하면 평균 보너스 포인트 1을 얻는다. colin의 보너스 포인트는 11월에 1이지만 9월에 포인트는 얼마인지 모른다. 따라서 보간할 수 없고 10월의 포인트는 그대로 누락된 값으로 남아 있다. 이를 해결하려면 보간하기 전에 9월의 보너스 포인트를 0으로 설정해야 한다.

이제 모든 보너스 포인트가 합리적으로 보간되었다. 최종 점수를 확인해 보자.

9월 열이 오른쪽에 추가되었는데 좀 이상하다. 이는 더하려는 DataFrame이 정확히 같은 열을 가지고 있지 않기 때문이다(grade DataFrame에는 "dec" 열이 없다). 따라서 판다스는 알파벳 순서로 최종 열을 정렬한다. 이를 해결하려면 덧셈을 하기 전에 누락된 열을 추가하면 된다.

12월과 colin에 대해 할 수 있는 것이 많지 않다. 보너스 포인트를 만드는 것이 나쁘지만 점수를 합리적으로 올릴 수는 없다. dropna() 메서드를 사용해 모두 NaN인 행을 삭제한다.

그다음 axis 매개변수를 1로 지정하여 모두 NaN인 열을 삭제한다.

### **groupby로 집계하기**

SQL과 비슷하게 판다스는 데이터를 그룹핑하고 각 그룹에 대해 연산을 수행할 수 있다.

먼저 그루핑을 위해 각 사람의 데이터를 추가로 만든다. NaN 값을 어떻게 다루는지 보기 위해 final_grades DataFrame을 다시 사용한다.

hobby로 이 DataFrame을 그룹핑해 보자.

이제 hobby마다 평균 점수를 계산할 수 있다.

아주 쉽다. 평균을 계산할 때 NaN 값은 그냥 무시된다는 것을 기억하자.

### **함수**

큰 DataFrame을 다룰 때 내용을 간단히 요약하는 것이 도움이 된다. 판다스는 이를 위한 몇 가지 함수를 제공한다. 먼저 수치 값, 누락된 값, 텍스트 값이 섞인 큰 DataFrame을 만들자.
 - fromfunction(함수, (행크기, 열크기))은 매개변수로 함수 형식을 가져와(행크기, 열크기)의 array를 만들어 준다.

head() 메서드는 처음 5개 행을 반환한다.

마지막 5개 행을 반환하는 tail() 함수도 있다. 원하는 행 개수를 전달할 수도 있다.

info() 메서드는 각 열의 내용을 요약하여 출력한다.

마지막으로 describe() 메서드는 각 열에 대한 주요 집계 연산을 수행한 결과를 보여준다.

* count: null(NaN)이 아닌 값의 개수
* mean: null이 아닌 값의 평균
* std: null이 아닌 값의 표준 편차
* min: null이 아닌 값의 최솟값
* 25%, 50%, 75%: null이 아닌 값의 25번째, 50번째, 75번째 백분위수
* max: null이 아닌 값의 최댓값

### **저장 & 로딩**

판다스는 DataFrame를 여러 가지 포맷으로 저장할 수 있다. CSV, Excel, JSON, HTML, HDF5, SQL 데이터베이스 같은 포맷이 가능하다.

### **저장**

CSV, HTML, JSON로 저장해 보자.

저장된 내용을 확인해 보자.

인덱스는 (이름 없이) CSV 파일의 첫 번째 열에 저장되었다. HTML에서는 <th> 태그와 JSON에서는 키로 저장되었다.

다른 포맷으로 저장하는 것도 비슷하다. 하지만 일부 포맷은 추가적인 라이브러리 설치가 필요할 수도 있다. 예를 들어, 엑셀로 저장하려면 openpyxl 라이브러리가 필요할수도 있다.

### **로딩**

CSV 파일을 DataFrame으로 로드해 보자.

read_json, read_html, read_excel 함수도 있다. 인터넷에서 데이터를 바로 읽을 수도 있다. 예를 들어 깃허브에서 1,000개의 U.S. 도시를 로드해 보자.

### **DataFrame 합치기**

### **SQL 조인**

판다스의 강력한 기능 중 하나는 DataFrame에 대해 SQL 같은 조인(join)을 수행할 수 있는 것이다. 여러 종류의 조인이 지원된다. 이너 조인(inner join), 레프트/라이트 아우터 조인(left/right outer join), 풀 조인(full join)이다.

이제 merge() 함수를 사용해 이 DataFrame을 조인해 보자.

두 DataFrame은 state란 이름의 열을 가지고 있으므로 state_x와 state_y로 이름이 바뀌었다.

또한 Cleveland, Salt Lake City, Houston은 두 DataFrame에 모두 존재하지 않기 때문에 삭제되었다. SQL의 INNER JOIN과 동일하다. 도시를 삭제하지 않고 NaN으로 채우는 FULL OUTER JOIN을 원하면 how="outer"`로 지정한다.

물론 LEFT OUTER JOIN은 how="left"로 지정할 수 있다. 왼쪽의 DataFrame에 있는 도시만 남는다. 비슷하게 how="right"는 오른쪽 DataFrame에 있는 도시만 결과에 남는다. 예를 들면:

조인할 키가 DataFrame 인덱스라면 left_index=True나 right_index=True로 지정해야 한다. 키 열의 이름이 다르면 left_on과 right_on을 사용한다. 예를 들어:

### **연결**

DataFrame을 조인하는 대신 그냥 연결할 수도 있다. concat() 함수가 하는 일이다.

이 연산은 (행을 따라) 수직적으로 데이터를 연결하고 (열을 따라) 수평으로 연결하지 않는다. 이 예에서 동일한 인덱스를 가진 행이 있다(예를 들면 3).

또는 인덱스를 무시하도록 설정할 수 있다.

한 DataFrame에 열이 없을 때 NaN이 채워져 있는 것처럼 동작한다. join="inner"로 설정하면 양쪽의 DataFrame에 존재하는 열만 반환된다.

axis=1로 설정하면 DataFrame을 수직이 아니라 수평으로 연결할 수 있다.

이 경우 인덱스가 잘 정렬되지 않기 때문에 의미가 없다(예를 들어 Cleveland와 San Francisco의 인덱스 레이블이 3이기 때문에 동일한 행에 놓여 있다). 이 DataFrame을 연결하기 전에 도시로 인덱스를 재설정해 보자.

FULL OUTER JOIN을 수행한 것과 비슷하다. 하지만 state 열이 state_x와 state_y로 바뀌지 않았고 city 열이 인덱스가 되었다.

append() 메서드는 DataFrame을 수직으로 연결하는 단축 메서드이다.

판다스의 다른 메서드와 마찬가지로 append() 메서드는 실제 city_loc을 수정하지 않는다. 복사본을 만들어 수정한 다음 반환한다.

### **범주**

범주로 표현된 값을 가진 경우가 많다. 예를 들어 1은 여성, 2는 남성이거나 "A"는 좋은 것, "B"는 평균, "C"는 나쁜 것 등이다. 범주형 값을 읽기 힘들고 다루기 번거롭다. 하지만 판다스에서는 간단하다.

이제 eco_code열은 의미없는 코드이다. eco_code를 기반으로 새로운 범주형 열을 만들어 보자

의미있는 이름을 가진 범주를 지정할 수 있다.

범주형 값은 알파벳 순서가 아니라 범주형 순서로 정렬한다.